.navb {
    display: flex;
    background-color: #1f1f38;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    padding: 0.3rem 0;
    z-index: 1000;
    top: 0;
    height: 75px;
}

.navb1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.navb1 div {
    color: white;
    font-size: 2.1rem;
}

.navb1 p {
    margin: 0;
    font-size: 2.375rem;
    color: white;
}

.navb1 a {
    color: white;
    text-decoration: none;
}

.navb2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1.9rem;
    background-color: rgb(251, 249, 249);
    padding: 1rem 1.9rem;
    border-radius: 3rem;
}

.navb2 div {
    color: #1f1f38;
    cursor: pointer;
    position: relative;
}

.navb2 div:hover {
    color: #1f1f38;
}

.navb2 div::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #1f1f38;
    transition: width 0.3s;
}

.navb2 div:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.navb2 a {
    text-decoration: none;
    color: inherit;
}

.navb2 a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #1f1f38;
    transition: width 0.3s;
}


@media screen and (max-width: 950px) {
    .navb2 {
        display: none;
    }
}
