

.product-card {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-details h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.product-details p {
    margin: 0;
    color: #666;
}

.product-card button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    background-color: #003975;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.product-card button:hover {
    background-color: #700000;
}

.product-card button:focus {
    outline: none;
    background-color: #003975;
}
